@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/StyleSheet.css" rel="stylesheet" type="text/css" />

<div id="middle">
    <center>
        <span style="position: relative; top: 360px;"><img src="~/Pictures/foodfinderireland.png" alt="foodfinderlogo" style="width:100%"></span>
    </center>   
        <div class="google_search">
            <center>
                <form method="get" action="http://www.google.com" class="searchbar">
                <input class="search" type="text" name="q" title="Search" maxlength="2048" autocomplete="off" style="width:100%" />
                <input type="submit" value="Go" name="search" class="searchbtn">
                </form>
            </center>  
        </div>




</div>